In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
dataset = pd.read_csv(r"C:\Users\jakem\OneDrive\Desktop\Data Science Projects\07-2023 Web Scraping UFC\output.csv")
dataset.head()

,Key,0,1,2,3,4
0,Abdul Razak Alhassan,Judo Thunder,Ghana,11,5,0.0
1,Alex Garcia,The Dominican Nightmare,Dominican Republic,15,5,0.0
2,Alex Morono,The Great White,USA,22,8,0.0
3,Andre Fialho,–,–,16,4,0.0
4,AJ Fletcher,–,–,9,1,0.0

In [3]:
dataset = dataset.dropna(how='all')

In [4]:
kamaru = dataset.iloc[36, 4]
kamaru

'3Justin Gaethje'

In [5]:
dataset = dataset.replace('3Justin Gaethje', '3')

In [6]:
dataset['1'].fillna('not specified', inplace=True)
dataset['0'].fillna('no nickname', inplace=True)
dataset['1'] = dataset['1'].replace('–', 'not specified')
dataset['0'] = dataset['0'].replace('–', 'no nickname')

dataset.head(55)

,Key,0,1,2,3,4
0,Abdul Razak Alhassan,Judo Thunder,Ghana,11,5,0.0
1,Alex Garcia,The Dominican Nightmare,Dominican Republic,15,5,0.0
2,Alex Morono,The Great White,USA,22,8,0.0
3,Andre Fialho,no nickname,not specified,16,4,0.0
4,AJ Fletcher,no nickname,not specified,9,1,0.0
5,Bryan Barberena,Bam Bam,USA,18,10,0.0
6,Belal Muhammad,Remember the Name,USA,20,3,0.0
7,Bradley Scott,Bear,England,12,6,0.0
8,Blood Diamond,no nickname,not specified,3,1,0.0
9,Carlos Condit,The Natural Born Killer,USA,34,14,0.0
10,Colby Covington,Chaos,USA,17,3,0.0
11,Chad Laprise,The Disciple,Canada,14,4,0.0
12,Carlo Pedersoli,no nickname,not specified,11,3,0.0
13,Curtis Blaydes,Razor,USA,14,3,0.0
14,Claudio Silva,Hannibal,Brazil,14,3,0.0
15,Craig White,THE THUNDERCAT,not specified,14,9,0.0
16,Carlston Harris,no nickname,not specified,17,5,0.0
17,Daniel Rodriguez,no nickname,not specified,17,2,0.0
18,Danny Roberts,Hot Chocolate,England,18,6,0.0
19,Darren Till,The Gorilla,England,18,5,1.0
20,Elizeu dos Santos,Capoeira,Brazil,23,7,0.0
21,Emil Weber Meek,Valhalla,Norway,9,5,1.0
22,Geoff Neal,Handz of Steel,USA,15,4,0.0
23,Gunnar Nelson,Gunni,Iceland,19,5,1.0
24,George Sullivan,no nickname,not specified,17,7,0.0
25,Hector Aldana,El Charro,Mexico,4,2,0.0
26,Ian Garry,no nickname,not specified,9,0,0.0
27,Jeremiah Wells,no nickname,not specified,10,2,1.0
28,Jessin Ayari,Abacus,Germany,16,6,0.0
29,Jake Matthews,The Celtic Kid,Australia,18,6,0.0
30,Jairzinho Rozenstruik,no nickname,not specified,13,4,0.0
31,Jack Della Maddalena,no nickname,not specified,11,2,0.0
32,Keita Nakamura,K-Taro,Japan,34,2,9.0
33,Kenan Song,no nickname,not specified,15,5,0.0
34,Khamzat Chimaev,no nickname,not specified,12,0,0.0
35,Khaos Williams,no nickname,not specified,13,3,0.0
36,Kamaru Usman,The Nigerian Nightmare,Nigeria,20,3,0.0
37,Leon Edwards,Rocky,England,21,3,0.0
38,Lyman Good,Cyborg,USA,21,6,0.0
39,Li Jingliang,The Leech,China,19,8,0.0
40,Matt Brown,The Immortal,USA,24,18,0.0
41,Michel Pereira,no nickname,not specified,27,11,0.0
42,Michael Morales,no nickname,not specified,13,0,0.0
43,Mickey Gall,no nickname,USA,7,5,0.0
44,Mike Malott,no nickname,not specified,8,1,1.0
45,Max Griffin,Pain,USA,19,9,0.0
46,Mike Perry,Platinum,USA,14,8,0.0
47,Matthew Semelsberger,no nickname,not specified,11,4,0.0
48,Muslim Salikhov,King of Kung Fu,Russia,17,2,0.0
49,Martin Sano,no nickname,not specified,4,3,1.0
51,Neil Magny,no nickname,USA,24,9,0.0
52,Niko Price,The Hybrid,USA,15,5,0.0
53,Paul Felder,The Irish Dragon,USA,17,5,0.0
54,Phil Rowe,no nickname,not specified,9,3,0.0
55,Preston Parsons,no nickname,not specified,9,3,0.0

In [7]:
default_value = 0  
dataset['4'] = dataset['4'].replace([np.nan, np.inf, -np.inf], default_value)

dataset['4'] = dataset['4'].astype(int)

dataset.tail(50)

,Key,0,1,2,3,4
593,Mara Romero Borella,Maravilla,Italy,12,9,0
594,Mohammed Usman,no nickname,not specified,9,2,0
595,Mandy Bohm,no nickname,not specified,7,1,0
596,Miranda Maverick,no nickname,not specified,12,3,0
597,Melissa Gatto,no nickname,not specified,8,1,2
598,Priscila Cachoeira,Zombie Girl,Brazil,9,3,0
599,Paige VanZant,12 Gauge,USA,8,5,0
600,Rachael Ostovich,no nickname,USA,4,6,0
601,Sabina Mazo,no nickname,not specified,9,4,0
602,Shana Dobson,Danger,USA,3,4,0
603,Veronica Macedo,no nickname,Venezuela,6,4,1
604,Valentina Shevchenko,Bullet,Kyrgyzstan,22,3,0
605,Veronica Hardy,no nickname,not specified,7,4,1
606,Taila Santos,no nickname,not specified,18,1,0
607,Tracy Cortez,no nickname,not specified,10,1,0
608,Zac Pauga,no nickname,not specified,6,1,0
609,Amanda Lemos,no nickname,Brazil,11,1,1
610,Cat Zingano,no nickname,not specified,10,4,0
611,Danyelle Wolf,no nickname,not specified,1,1,0
612,Darya Zheleznyakova,no nickname,not specified,8,1,0
613,Germaine de Randamie,The Iron Lady,Netherlands,10,4,0
614,Holly Holm,The Preacher’s Daughter,USA,14,5,0
615,Irene Aldana,no nickname,Mexico,14,6,0
616,Julianna Pena,The Venezuelan Vixen,USA,11,4,0
617,Josiane Nunes,no nickname,not specified,8,1,0
618,Julija Stoliarenko,no nickname,not specified,9,7,1
619,Jacqueline Cavalcanti,The Nightmare,not specified,5,1,0
620,Karol Rosa,no nickname,not specified,15,3,0
621,Ketlen Vieira,Fenômeno,Brazil,10,1,0
622,Kyler Phillips,no nickname,not specified,10,2,0
623,Lucie Pudilová,no nickname,not specified,0,0,0
624,Marion Reneau,The Belizean Bruiser,USA,9,8,1
625,Melissa Dixon,No Mess Mullins,not specified,NaN,NaN,0
626,Montserrat Conejo,no nickname,not specified,10,2,0
627,Montserrat Rendon,Monster,not specified,5,0,0
628,Macy Chiasson,no nickname,not specified,9,3,0
629,Miesha Tate,no nickname,not specified,19,7,0
630,Norma Dumont,no nickname,not specified,8,2,0
631,Nora Cornolle,no nickname,not specified,6,1,0
632,Gina Mazany,Danger,USA,7,4,0
633,Pannie Kianzad,no nickname,not specified,16,6,0
634,Raquel Pennington,Rocky,USA,14,9,0
635,Sarah Moras,Cheesecake,Canada,6,8,0
636,Talita Bernardo,no nickname,Brazil,6,4,0
637,Wu Yanan,Mulan,China,11,4,0
638,Ailin Perez,no nickname,not specified,7,2,0
639,Megan Anderson,no nickname,Australia,11,5,0
640,Stephanie Egger,no nickname,not specified,8,3,0
641,Tonya Evinger,Triple Threat,USA,19,8,0
642,Yana Kunitskaya,Foxy,Russia,14,6,0

In [8]:
from shutil import move

csv_file = 'output.csv'

dataset.to_csv(csv_file, index=False)

download_dir = r"C:\Users\jakem\OneDrive\Desktop\Data Science Projects\07-2023 Web Scraping UFC"  # Update this with the desired location

destination_file = os.path.join(download_dir, csv_file)
os.replace(csv_file, destination_file)

print(f"CSV file '{csv_file}' has been downloaded to: {destination_file}")

CSV file 'output.csv' has been downloaded to: C:\Users\jakem\OneDrive\Desktop\Data Science Projects\07-2023 Web Scraping UFC\output.csv